HighQualityWidget
{
	min-width: 420px;
	min-height: 220px;
	max-width: 420px;
	max-height: 220px;
}
HighQualityWidget TitleBar QFrame#bgframe
{
    padding: 0px;
    border: 0px;
    border-image: url("");
}

HighQualityWidget QLabel#vipLabel
{
	min-height: 20px;
	max-height: 20px;
}

HighQualityWidget QLabel#imageLabel
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	min-height: 60px;
	max-height: 60px;
	min-width: 360px;
	max-width: 360px;
	image: url("$skin/vip/vip_info.png");
	qproperty-text: "";
}

HighQualityWidget QPushButton#openVipBtn,
HighQualityWidget QPushButton#openVipBtn:pressed
{

  margin: 0px;
  padding: 0px;
  border: 0px;
  min-width: 100px;
  max-width: 100px;
  min-height: 30px;
  max-height: 30px;
  border-image: url("$skin/vip/btn.png");
  color: #ffffff;
}

HighQualityWidget QPushButton#openVipBtn:hover
{
	border-image: url("$skin/vip/btn_click.png");
}